#  Importing Libraries

In [29]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.decomposition import PCA
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score,confusion_matrix

#  Reading the dataset

In [30]:
df=pd.read_csv("IRIS.csv")
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

#  Preprocessing

In [31]:
x=df.iloc[:,1:4]
x

     sepal_width  petal_length  petal_width
0            3.5           1.4          0.2
1            3.0           1.4          0.2
2            3.2           1.3          0.2
3            3.1           1.5          0.2
4            3.6           1.4          0.2
..           ...           ...          ...
145          3.0           5.2          2.3
146          2.5           5.0          1.9
147          3.0           5.2          2.0
148          3.4           5.4          2.3
149          3.0           5.1          1.8

[150 rows x 3 columns]

# Label Encoding

In [32]:
y=df['species']
le=LabelEncoder()
y=le.fit_transform(y)
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

# Scaling the data

In [33]:
scalar=StandardScaler()
scaled_data=pd.DataFrame(scalar.fit_transform(x))
scaled_data

            0         1         2
0    1.032057 -1.341272 -1.312977
1   -0.124958 -1.341272 -1.312977
2    0.337848 -1.398138 -1.312977
3    0.106445 -1.284407 -1.312977
4    1.263460 -1.341272 -1.312977
..        ...       ...       ...
145 -0.124958  0.819624  1.447956
146 -1.281972  0.705893  0.922064
147 -0.124958  0.819624  1.053537
148  0.800654  0.933356  1.447956
149 -0.124958  0.762759  0.790591

[150 rows x 3 columns]

# Spliting DataSet into train and test data

In [34]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)
x_train
scalar=StandardScaler()
x_train=pd.DataFrame(scalar.fit_transform(x_train))
x_test=pd.DataFrame(scalar.transform(x_test))
x_train

            0         1         2
0   -0.119255  0.225127  0.356382
1   -1.040395  0.113560 -0.028648
2   -0.119255  0.950314  1.126441
3    0.341315 -1.392599 -1.312081
4    0.111030  0.727180  1.383128
..        ...       ...       ...
107  0.111030 -1.281032 -1.440424
108 -0.349540  1.006098  0.741412
109 -0.810110  0.169343 -0.285335
110  1.723026  1.619718  1.254785
111  0.341315 -1.336815 -1.312081

[112 rows x 3 columns]

In [20]:
x_test

           0         1         2
0  -0.579825  0.727180  1.511471
1  -1.961535  0.113560 -0.285335
2   2.644166 -1.336815 -1.312081
3  -0.349540  1.396583  0.741412
4   0.801885 -1.281032 -1.312081
5   0.571600  1.229232  1.639814
6   1.032170 -1.392599 -1.183737
7   0.111030  0.504045  0.356382
8  -0.579825  0.559829  0.228038
9  -0.579825  0.113560  0.099695
10 -1.040395  1.006098  0.228038
11  0.341315  0.392478  0.356382
12 -0.579825  0.504045 -0.028648
13 -0.579825  0.448261  0.356382
14 -0.349540  0.504045  0.228038
15  0.111030 -1.281032 -1.440424
16 -0.349540  0.392478  0.356382
17 -1.040395  0.336694 -0.028648
18 -0.119255 -1.336815 -1.183737
19  1.953311 -1.392599 -1.055394
20 -0.579825  0.615612  0.998098
21 -0.119255  0.392478  0.356382
22  0.801885 -1.057897 -1.312081
23 -0.349540 -1.336815 -1.312081
24 -0.579825  0.559829  0.741412
25  1.262455 -1.559950 -1.312081
26  1.723026 -1.057897 -1.055394
27 -0.349540  0.280910  0.099695
28 -1.731250 -0.276926 -0.285335
29  0.801885 -1.225248 -1.055394
30  0.111030  0.950314  0.741412
31 -0.119255  0.392478  0.356382
32  1.032170 -1.281032 -1.312081
33 -0.119255  0.615612  0.741412
34 -0.579825  1.006098  1.254785
35 -0.810110  0.057776  0.228038
36  1.723026 -1.169464 -1.183737
37 -0.810110  0.727180  0.484725

In [35]:
y_train

array([1, 1, 2, 0, 2, 0, 0, 1, 2, 2, 2, 2, 1, 2, 1, 1, 2, 2, 2, 2, 1, 2,
       1, 0, 2, 1, 1, 1, 1, 2, 0, 0, 2, 1, 0, 0, 1, 0, 2, 1, 0, 1, 2, 1,
       0, 2, 2, 2, 2, 0, 0, 2, 2, 0, 2, 0, 2, 2, 0, 0, 2, 0, 0, 0, 1, 2,
       2, 0, 0, 0, 1, 1, 0, 0, 1, 0, 2, 1, 2, 1, 0, 2, 0, 2, 0, 0, 2, 0,
       2, 1, 1, 1, 2, 2, 1, 1, 0, 1, 2, 2, 0, 1, 1, 1, 1, 0, 0, 0, 2, 1,
       2, 0])

# PCA

In [36]:
pca=PCA(n_components=3)
x_train=pd.DataFrame(pca.fit_transform(x_train))
x_test=pd.DataFrame(pca.transform(x_test))
x_train

            0         1         2
0   -0.425315 -0.047393 -0.093661
1   -0.444928  0.946240  0.052982
2   -1.405873 -0.443622 -0.113626
3    1.901943  0.395112 -0.062297
4   -1.339509 -0.681803 -0.441611
..        ...       ...       ...
107  1.825763  0.620882  0.096369
108 -1.278088 -0.128678  0.184488
109 -0.228696  0.796315  0.282758
110 -1.243827 -2.343091  0.360006
111  1.865077  0.382242 -0.022460

[112 rows x 3 columns]

# Model Building

nb=GaussianNB()
nb.fit(x_train,y_train)

# Prediction on test data

In [24]:
ypred=nb.predict(x_test)
ypred

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 2, 0, 0, 1, 1, 0, 2, 1, 0, 2, 2, 1, 0, 2])

# Accuracy of model

In [25]:
ac=accuracy_score(y_test,ypred)
ac

0.9736842105263158

# Confusion matrix

In [28]:
con=confusion_matrix(y_test,ypred)
con

array([[13,  0,  0],
       [ 0, 15,  1],
       [ 0,  0,  9]], dtype=int64)